<div class="main posts-index">
  <div class="container">

    <h1 class="form-heading">
      <%= @group.name%>の伝言板
    </h1>
    <p class="form">
      <%= link_to "メンバー一覧", "/groups/#{@group.id}/show" %>
    </p>
    <%= form_tag("/message_board/#{@group.id}/create") do %>
      <div class="form">
        <div class="form-body">
          <textarea name="content"></textarea>
          <input type="submit" value="メモする">
        </div>
      </div>
    <% end %>
    <div>
      <% @messages.each do |message| %>
        <%@user = User.find_by(id:message.user_id)%>
        <div class="posts-index-item">
         <div>
          <%=@user.name%>:
         </div>
          <%=  message.content %>
          <div style="color: lightgray;">
            <%=  message.created_at %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>