
<!-- todolist -->
<div class="main posts-index">
  <div class="container">

    <h1 class="form-heading">TODO-LIST</h1>
    <%= form_tag("/tasks/create") do %>
      <div class="form">
        <div class="form-body">
          
              <div class="form-error">
               
              </div>

          <textarea name="content"></textarea>
          <input type="submit" value="メモする">
        </div>
      </div>
    <% end %>

    <div>
    <% @todolist.each do |todo| %>
      <div class="posts-index-item">
        <div>
          <%= link_to("✔︎", "/tasks/#{todo.id}/done") %>｜
          <%= link_to("✖️", "/tasks/#{todo.id}/destroy") %>｜
          <%= link_to("編集", "/tasks/#{todo.id}/edit") %>
        </div>
        <%=  todo.content %>
        <div style="color: lightgray;">
          <%=  todo.created_at %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>