<!DOCTYPE html>
<html>
  <head>
    <title>TheKakeiApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <!-- <% if @current_user %>
          <%= link_to("TweetApp", "/user/show") %>
        <% else %>
          <%= link_to("TweetApp", "/") %>
        <% end %> -->
        <%= link_to("KakeiNet", root_path) %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("KakeiNetとは？", "/about") %>
        </li>
        <li>
         <%= link_to(" メンバー一覧 ", "/users/index") %>
        </li>
        <!-- <li>
          新規登録
        </li> -->
        <!-- <li>
          ログイン
        </li> -->
        <li>
          <%= link_to("TODO", "/tasks/index") %>
        </li>
      </ul>
    </header>

    <%= yield %>
  </body>
</html>
