<!DOCTYPE html>
<html>
  <head>
    <title>KakeiNet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("KakeiNet", "/tasks/index") %>
        <% else %>
          <%= link_to("KakeiNet", root_path) %>
        <% end %>
      </div>
      <button type="button" class="btn js-btn">
        <span class="btn-line"></span>
      </button>
      <div class="header-name">
        <a>
          <%if @current_user %>
            <%= @current_user.name%>
          <% end %>
        </a>
      </div>
      <% if @current_user %>
      <ul class="menu">
        <li class="menu-list">
          <%= link_to("グループ", "/groups/index") %>
        </li>
        <li class="menu-list">
          <%= link_to("TODO", "/tasks/index") %>
        </li>
        <li class="menu-list">
          <%= link_to("DONE", "/tasks/done_index") %>
        </li>
        <li class="menu-list">
          <%= link_to("家計", "/household/index") %>
        </li>
        <li class="menu-list">
          <%= link_to(" Logout", "/logout") %>
         </li>
      </ul>
         <% else %>
      <ul class="menu"> 
         <li class="menu-list">
          <%= link_to("KakeiNetとは？", "/about") %>
        </li>
        <li class="menu-list">
          <%= link_to("新規登録", "/users/new") %>
        </li>
        <li class="menu-list">
         <%= link_to(" ログイン", "/login") %>
        </li>
      </ul>
      <% end %> 
    </header>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
